@*@model IEnumerable<MacroTracker.Models.FoodsConsumed>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FoodsEaten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DateConsumed)
            </th>
            <th></th>
        </tr>
    </thead>
</table>*@
